<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    

<div>
      <mat-tab-group #memberTabs>
        <mat-tab label='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
          <ng-template matTabContent>
            <p>{{member.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{member.lookingFor}}</p>
          </ng-template>
        </mat-tab>
        <mat-tab label='Interests {{member.knownAs}}' (selectTab)="onTabActivated($event)">
          <ng-template matTabContent>
            <p>{{member.interests}}</p>
          </ng-template>
        </mat-tab>
        <mat-tab label='Photos {{member.knownAs}}' (selectTab)="onTabActivated($event)">
            <ng-template matTabContent>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </ng-template>
          </mat-tab>

        <mat-tab label='Messages {{member.knownAs}}' (selectTab)="onTabActivated($event)">
            <ng-template matTabContent>
            
                <app-member-messages [messages]="messages"></app-member-messages>
             
            </ng-template>
          </mat-tab>
       
      </mat-tab-group>

</div>