<div>ditail works </div>
<h1 a-ngIf="member">{{member.knownAs}}</h1>   


<div class="row" >
     <div class="class col-4">
         <div class="class card">
             <img src="{{member.photoUrl || './assets/user.png'}}" alt="memeber.knownAs" 
             class="card-img-top img-thumbnail">
             <div class="class card-body">
                 <div>
                     <strong> Location</strong>
                     <p>{{member.city}},{{member.country}}</p>
                 </div>
                 <div>
                    <strong> Age</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong> Last Active</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong> Member since</strong>
                    <p>{{member.created}}</p>
                </div>
               
             </div>
             <div class="class card-footer">
                 <div class="class btn-group d-flex"></div>
                 <div class="class btn-primary">Like</div>
                 <div class="class btn-success">Message</div>
                 
             </div>


             <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </form>
            

         </div>
     </div>
     <ng-container *ngIf="(asyncTabs | async) === null">
        Loading tabs...
      </ng-container>
      
      <mat-tab-group>
        <mat-tab *ngFor="let tab of asyncTabs | async">
          <ng-template mat-tab-label>{{tab.label}}</ng-template>
          {{tab.content}}
        </mat-tab>
      </mat-tab-group>
</div>